form .avatar{
	width: 55px;
}

li .avatar, .pub_image .avatar{
	width: 40px;
	height: 40px;
	border-radius: 900px;
	overflow: hidden;
}

.pub_image{
	margin-bottom: 30px;
}

.pub_image .avatar{
	float: left;
}

.pub_image .data-user{
	float: left;
	margin: 10px 0px 0px 5px;
	font-weight: bold;
}

.pub_image .nickname{
	color: #888;
}

.pub_image .image-container{
	width: 100%;
	max-height: 400px;
	overflow: hidden;
}

.pub_image .card-body{
	padding: 0px;
}

.pub_image .description{
	padding: 0px 20px;
}

.pub_image .image-container img{
	width: 100%;
}

.btn-comentarios{
	margin: 20px;
	margin-top: 0px;
}

.likes{
	padding: 10px 20px;
}

.likes img{
	width: 20px;
}

.image-detail{
	max-height: 500px;
}

.pub_image .comments{
	padding: 20px;
}

.likes-count{
	font-size: 11px;
	color: gray;
}

.profile-user{

}

.profile-user .container-avatar{
	width: 200px;
	height: 200px;
	border-radius: 900px;
	overflow: hidden;
	float: left;
	border: 5px solid #555;
	margin-right: 10px;
	margin-bottom: 10px;
}
